Click==7.0
fuzzywuzzy==0.18.0
numpy==1.18.1
pandas==1.0.1
psycopg2==2.8.4
PyQt5==5.13.0
PyQt5-sip==12.7.1
pyqt5-tools==5.13.0.1.5
python-dateutil==2.8.1
python-dotenv==0.11.0
python-Levenshtein==0.12.0
pytz==2019.3
QtAwesome==0.6.1
QtPy==1.9.0
scipy==1.4.1
six==1.14.0
tzlocal==2.0.0
